#container{
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    
  
}
.box{
    width: calc(100% / var(--boxnb));
    height: calc(100% / var(--boxnb));
    background-color: rgb(15, 108, 139);
 
}