#container{
    width: 384px;
    height: 384px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  
}
.box{
    height: 24px;
    width: 24px;
    background-color: aquamarine;
    
}